@font-face {
    font-family: 'iconfont';  /* project id 2420400 */
    src: url('//at.alicdn.com/t/font_2420400_i319ym40qbr.eot');
    src: url('//at.alicdn.com/t/font_2420400_i319ym40qbr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2420400_i319ym40qbr.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2420400_i319ym40qbr.woff') format('woff'),
    url('//at.alicdn.com/t/font_2420400_i319ym40qbr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2420400_i319ym40qbr.svg#iconfont') format('svg');
  }